.flex{
    display: flex;
}

.f-jcc{
    justify-content: center;
}

.f-jsb{
    justify-content: space-between;
}

.f-jsa{
    justify-content: space-around;
}

.f-jse{
    justify-content: space-evenly;
}

.f-aline-c{
    align-items: center;
}