:root{
    --F-iner: 'Inter-Regular';
    --F-rBlack: 'Roboto-Black'
    --F-rBold: 'Roboto-Bold';
    --F-rBoldItalic: 'Roboto-Bolditalic'; 
    --F-rMedium: 'Roboto-Medium';
    --color-description: #959595;
    --color-green: #7AB674;
    --color-black: #273029;
    --color-brown: #B09B8C;
    --bg-body: #FFFFFF;
    --bg-gray: #EEEEEE;
}