@use 'abstract' as *;

.button{
    font-family: $F-rBold;
    font-size: 24px;
    line-height: 23px;
    color: $bg-body;
    background-color: $color-green;
    padding: 20px 80px;
    border: none;
    
}